body{
    background-color: beige;
    
}
#style{
height: 300px;
width: 300px;
 background-color: rgb(247, 243, 243);
 padding: 30px;
 text-align: center;
margin-left: 600px;
margin-top: 200px;
border-radius: 7px;
box-shadow: 0px 0px 15px black;
}
input{
height: 30px;
width: 200px;
margin-bottom: 7px;
border-radius: 5px;
}
#btn{
    border: none;
    margin-bottom: 15px;
    background-color:rgb(165, 165, 246);
    font-size: 15px;
    border-radius: 5px;
}